body{
  margin: 0px !important;
}
div.header{
  background-color: rgb(204, 204, 204);
  height:200px;
}

img.profile-img{
  width: 150px;
  margin-top: 105px;
  margin-left: 80px;
  box-shadow: 2px 4px 8px 3px rgba(0,0,0,0.2);
  border-radius: 100%;
}

button.edit{
  box-shadow: 2px 4px 8px 3px rgba(0,0,0,0.2);
  width: 75px;
  height: 75px;
  border-radius: 100%;
  background-color: rgb(255, 208, 91);
  border: 0px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 30px;
  top: 165px;
}

button.edit:hover{
  background-color: rgb(251, 197, 64);
  cursor: pointer;
}
button.edit:active{
  background-color: rgb(247, 184, 31);
  outline: none;
}
button.edit:focus{
  outline: none;
}

label.title{
  font-size: 52px;
  position: absolute;
  top: 143px;
  left: 244px;
  font-weight: 400;
  font-family: inherit;
  color: rgb(0, 0, 0);
}

span.card-container{
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
}

div.card{
  min-width: 300px;
  width:45%;
  min-height: 300px;
  height:auto;
  box-shadow: 2px 4px 8px 3px rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; 
}