body{
  width: 330px;
  height: 300px;
}
.buttons{
  padding:5px;
}
.btn {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border-width: 0px;
    background-color: rgb(239, 239, 239);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

.explanation {
  font-size: x-large;
}
  .btn:hover{
    background-color: rgb(205, 205, 205);
    cursor: pointer;
  }
  .btn:active{
    background-color: rgb(180, 180, 190);
    outline: none;
  }
  .btn:focus{
    outline: none;
  }
  .btn:visited{
    background-color: brown;
  }

.btn_container{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.text_container{
  width: 100%;
  border-radius: 5%;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  background-color:rgb(242, 242, 242);
}

.general_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

span.btn-info{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
  span.btn-info>label{
    margin: auto;
    font-size: small;
  }
  span.btn-info>button{
    margin: auto;
  }